body{
    font-family: Arial;
    text-align: center;
}

.menu a{
    margin: 20px;
    padding: 10px 20px;
    background: blue;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

table{
    margin: auto;
}
